body {
    background-image: url('C:\Users\CCSLAB4_PC16\Desktop\about me');
    background-repeat: no-repeat;
    background-size: cover;
    }
    header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    }
    main {
    margin: 20px;
    
    }